* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  background-color: #f3ebde;
  height: 80vh;
  width: 100vw;
}

.pie-chart {
  display: flex;
  width: 355px;
  height: 411px;
  flex-direction: column;
  right: 2rem;
  top: 10rem;
}

.donut-chart {
  width: 355px;
  height: 411px;
  display: flex;
  flex-direction: column;
  left: 2rem;
  top: 10rem;
}

.wrap {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 100px;
}



.title p {
  color: #836645;
  font-weight: 400;
  font-size: 32px;
  margin-top: 45px;
  font-family: 'Patua One', serif;
 
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.title img {
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
.left {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .title {
    margin-left: 5px;
    margin-bottom: 50px;
    margin-right: 5px;
   
  }

  .container {
    background-color: #f3ebde;
    height: auto;
    width: auto;
  }
  .title img {
    width: 25px;
  }
  .wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
  }

  .title p {
    color: #836645;
    font-weight: 400;
    font-size: 32px;
    margin-top: 45px;
    margin-left: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Patua One', serif;
  }
 
  
  img.right{
  margin-right:20px;
}
img.left{
  margin-right:-10px;
  
}
}
