.topContainer {
  width: 360px;
  height: 380px;
  background-color: white;
  border: 2px solid #836645;
  border-radius: 5px;
}

.topContainer p {
  margin: 20px 90px;
  font-family: 'inter';
  font-weight: 500;
  color: #836645;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .topContainer {
    max-width: 357px;
    height: 380px;
    background-color: white;
    border: 2px solid #836645;
    border-radius: 5px;
    position: absolute;
  }

  .topContainer p {
    font-size: 17px;
  }
}
