.pieContainer {
  width: 353px;
  height: 380px;
  background-color: #fefaf4;
  border: 1px solid #836645;
  border-radius: 5px;
}

.pieContainer p {
  margin: 20px 90px;
  font-family: 'inter';
  font-weight: 500;
  color: #836645;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .pieContainer {
    max-width: 357px;
  }

  .pieContainer p {
    font-size: 17px;
  }
}
