/* .container {
  height: 100%;
  width: 100%; 
} */

.skeletonMap {
  height: 60vh;
  border-radius: 8px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.heading {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.landingTitle {
  font-size: 32px;
  color: #836645;
  font-family: "Patua One", serif;
  font-weight: 400;
  line-height: 44.8px;
  text-align: center;
}

.detailTitle {
  font-size: 32px;
  color: #a18a70;
  font-family: "Patua One", serif;
  font-weight: 400;
  line-height: 44.8px;
  text-align: center;
}

.notFound {
  color: #836645;
  text-align: center;
}
