/* https://www.kindacode.com/article/react-create-an-animated-side-navigation-from-scratch/ */

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #836645;
  padding: 20px 20px 10px;
}

.heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #39393c;
}

.closeButton {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.filterForm {
  padding: 20px;
}

.sideNav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  height: 100%;
  /* figma width */
  /* width: 375px; */
  width: 15rem;
  /* padding: 30px 20px; */
  background-color: #fefaf4;
  transition: 2s;
  overflow-y: auto;
}

/* This makes the side menu visible */
.sideNavActive {
  right: 0;
  transition: 0.5s;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

/* width */
.sideNav::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sideNav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 5px;
}

/* Handle */
.sideNav::-webkit-scrollbar-thumb {
  background: #836645;
  border-radius: 5px;
}

/* Handle on hover */
.sideNav::-webkit-scrollbar-thumb:hover {
  background: #836645;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
