* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  background-color: #f3ebde;
  height: 80vh;
  width: 100vw;
}

.pie-chart {
  display: flex;
  width: 355px;
  height: 411px;
  flex-direction: column;
  right: 2rem;
  top: 10rem;
}

.donut-chart {
  width: 355px;
  height: 411px;
  display: flex;
  flex-direction: column;
  left: 2rem;
  top: 10rem;
}

.wrap {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 100px;
}

p {
  color: #836645;
  font-weight: bold;
  font-size: 32px;
}

.title {
  margin-left: 530px;
  margin-bottom: 50px;
}

img {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .title {
    margin-left: 10px;
    margin-bottom: 50px;
  }

  p {
    font-size: 20px;
  }
  .container {
    background-color: #f3ebde;
    height: auto;
    width: auto;
  }
  .wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
  }
}
