.wrapper {
  position: relative;
}

.backBtn {
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #836645;
  position: absolute;
  right: 20px;
  top: -58px;
}

.locationContainer {
  padding: 20px 20px;
}

.descTaxDetailsContainer {
  padding: 0px 20px 40px;
}
