.searchPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchAndCharts {
  padding-top: 80px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

.searchAndCharts::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-color: #f3ebde;
  z-index: -3;
}
.searchAndCharts::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("@assets/background-pattern.png");
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.chartsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.total {
  font-family: "Patua One";
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: left;
  color: #836645;
  padding: 20px 20px 0px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.filterSortContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 20px;
}

.filterBtn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #39393c;
  cursor: pointer;
  padding: 12px 24px;
  background: none;
  border: 2px solid #39393c;
  border-radius: 80px;
}

.paginationContainer {
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .chartsContainer {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .searchAndCharts {
    padding-top: 32px;
    /* padding-bottom: 32px; */
    /* padding-inline: 12px; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* gap: 20px; */
    gap: 0px;
    position: relative;
  }
}
