.accordionTitle {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #39393c;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.accordionContent {
  display: flex;

  flex-direction: column;
}
