.displayContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.cardContainer {
  border: 1px solid #836645;
  list-style-type: none;
  width: 296px;
  height: 334px;
  border-radius: 8px;
  text-decoration: none;
}

.skeletonCard {
  width: 296px;
  height: 334px;
  border-radius: 8px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.notFound {
  color: #836645;
  text-align: center;
}
