/* flex or grid is better? */

.displayContainer {
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  padding: 20px;
  justify-items: center; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  justify-content: center;
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .displayContainer {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .displayContainer {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .displayContainer {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.cardContainer {
  border: 1px solid #836645;
  list-style-type: none;
  width: 296px;
  height: 334px;
  border-radius: 8px;
}

.skeletonCard {
  width: 296px;
  height: 334px;
  border-radius: 8px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.notFound {
  color: #836645;
  text-align: center;
}
