.map {
  height: 476px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .map {
    height: 372px;
  }
}

.mapContainer a {
  display: none;
}

.credit {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}
